<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/material.min.css">
    <link rel="stylesheet" href="/public/css/admin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Administration | Orders</title>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs" id="app">
  <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Ordini</span>
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Ordini</a>
      <a href="#fixed-tab-2" class="mdl-layout__tab">Ordini Torso</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Altre opzioni</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/options">Altre opzioni</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">
        <table v-if="isEmpty(order)" class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Data di inserimento</th>
              <th class="mdl-data-table__cell--non-numeric">Email</th>
              <th class="mdl-data-table__cell--non-numeric">Visualizza</th>
              <th class="mdl-data-table__cell--non-numeric">Elimina</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="el in orders">
              <td class="mdl-data-table__cell--non-numeric">{{ el.inserted }}</td>
              <td>{{ el.email }}</td>
              <td>
                <button @click="viewOrder(el.id)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary mdl-js-ripple-effect">
                  <i class="material-icons">visibility</i>
                </button>
              </td>
              <td>
                <button @click="deleteOrder(el.id)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div v-else id="order">
          <div class="spaced">
            Data di inserimento: {{ order.inserted }}
          </div>
          <div class="spaced">
            Email: {{ order.email }}
          </div>
          <div class="spaced">
            Data: {{ order.date }}
          </div>
          <div class="spaced">
            Note:
            <br>
            <div style="margin-top: 20px;margin-bottom: 20px;word-break: break-word;">
              {{ order.note }}
            </div>
            <div style="margin-top: 20px; text-align: center;">
              <button @click="order = {}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--primary">
                <i class="material-icons">close</i>
              </button>
              <button @click="deleteOrder(order.id)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">delete</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content">
        <table v-if="isEmpty(torso)" class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Data di inserimento</th>
              <th class="mdl-data-table__cell--non-numeric">Email</th>
              <th class="mdl-data-table__cell--non-numeric">Nome</th>
              <th class="mdl-data-table__cell--non-numeric">Telefono</th>
              <th class="mdl-data-table__cell--non-numeric">Visualizza</th>
              <th class="mdl-data-table__cell--non-numeric">Elimina</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="el in torsoOrders">
              <td class="mdl-data-table__cell--non-numeric">{{ el.inserted }}</td>
              <td>{{ el.email }}</td>
              <td>{{ el.name }}</td>
              <td>{{ el.phone }}</td>
              <td>
                <button @click="viewTorso(el.id)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary mdl-js-ripple-effect">
                  <i class="material-icons">visibility</i>
                </button>
              </td>
              <td>
                <button @click="deleteTorso(el.id)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div v-else id="torsorder">
          <div class="spaced">
            Data di inserimento: {{ torso.inserted }}
          </div>
          <div class="spaced">
            Email: {{ torso.email }}
          </div>
          <div class="spaced">
            Email: {{ torso.name }}
          </div>
          <div class="spaced">
            Telefono: {{ torso.phone }}
          </div>
          <div class="spaced">
            Note:
            <br>
            <div style="margin-top: 20px;margin-bottom: 20px;word-break: break-word;">
              {{ torso.notes }}
            </div>
            <div class="spaced cntr" style="display: flex;">
              <div>
                <img class="torsoimg" :src="'/public/uploads/' + torso.front" alt="">
                <br>
                <button @click="downloadFile('front.png', '/public/uploads/' + torso.front)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--primary">
                  <i class="material-icons">download</i>
                </button>
              </div>
              <div>
                <img class="torsoimg" :src="'/public/uploads/' + torso.back" alt="">
                <br>
                <button @click="downloadFile('back.png', '/public/uploads/' + torso.back)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--primary">
                  <i class="material-icons">download</i>
                </button>
              </div>
            </div>
            <div style="margin-top: 20px; text-align: center;">
              <button @click="torso = {}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--primary">
                <i class="material-icons">close</i>
              </button>
              <button @click="deleteTorso(torso.id)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">delete</i>
              </button>
            </div>
          </div>
      </div>
    </section>
  </main>
  <div ref="snackbarContainer" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
</div>
</body>
<script src="/public/js/material.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="/public/js/admin.js"></script>
</html>