<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/MinifigCustomizer.css">
    <link rel="shortcut icon" href="/public/imgs/mfcicon.ico">
    <title>Custom Torso Generator</title>
</head>
<body>
    <div id="app">
        <div id="logo">
            <img src="/public/imgs/logo.png" id="logoimg" alt="Custom Torso Generator">
        </div>
        <div id="Editor">
            <canvas id="mainCanvas" @mousedown="handleMouseDown" @mouseup="handleMouseUp" @mouseout="handleMouseOut" @mousemove="handleMouseMove" @wheel="resize_by_wheel" ref="canvas">
                Your browser doesn't include support for the canvas element.
            </canvas>
        </div>
        <div id="layermenu">
            <h3>Stickers</h3>
            <div id="placedStickers">
                <div v-for="(el, index) in appliedStickers"  v-if="el.side == side" @click="selectActiveSticker(index)" class="layer">
                    Sticker {{ index + 1 }}
                    <button @click="deleteSticker(index)" class="delete"><img src="/public/imgs/delete.svg" alt=""></button>
                </div>
            </div>
        </div>
        <div id="sidemenu">
            <div id="sidemenuheader">
                <h3>Opzioni Personalizzazione</h3>
                <select name="cars" id="coptions" v-model="selectedCategory">
                    <option value="Testo">Testo</option>
                    <option v-for="category in aviableStickers" :value="category.category">{{ category.category }} </option>
                </select> 
            </div>
            <div id="culo">
            <div class="opt" id="Testo" v-if="selectedCategory == 'Testo'">
                <h3>Preview</h3>
                <canvas ref="cnvtxt" id="cnvtxt">
                    Your browser doesn't include support for the canvas element.
                </canvas>
                <br>
                <button class="addbutton" @click="addText">+</button><br><br>
                Testo
                <br>
                <input type="text" ref="inputText" @keyup="updateTextRender" id="inputText"><br><br>
                Font
                <br>
                <select name="fonts" @change="setTextFont" id="fonts">
                    <option value="Arial">Arial</option>
                    <option value="Tahoma">Tahoma</option>
                    <option value="Calibri">Calibri</option>
                    <option value="Courier New">Courier New</option>
                    <option value="Impact">Impact</option> 
                </select>
                <br><br><br>
                <div style="display: flex;">
                    <div style="width: 50%;">
                        <span>Dimensione</span>
                        <br>
                        <input type="number" value="30" name="fs" @input="setFontSize" min="1" ref="fontSizeSelector" id="fontSize">
                    </div>
                    <div style="width: 50%;">
                        <span>Colore</span>
                        <br>
                        <input type="color" @change="setFontColor" id="changeColorText">
                    </div>
                </div>
            </div>
            <div class="opt" v-else>
                <img  v-for="sticker in aviableStickers.find(e => e.category == selectedCategory).stickers" :src="'/public/stickers/' + selectedCategory + '/' + sticker " @click="stickerFromImg" class="defaultsticker" alt="">
                <label for="uploadimage" id="imulabel">
                <div id="addimg">
                    <input type="file" name="img" @change="imgUploadChange" size="65" id="uploadimage" />
                    +
                </div>
                </label>
            </div>
            </div>
        </div>
        <div id="orderform" v-if="showForm">
            <div id="form">
                <form v-on:submit.prevent="submitTorso">
                    <h1>Ordine</h1>
                    <div class="campo">
                        <label for="email">Email di contatto</label><br>
                        <input type="email" class="textfield" maxlength="320" required id="email" v-model="email" name="email" autofocus placeholder="email@domain.com">
                    </div>
                    <div class="campo">
                        <label for="data">Nome</label><br>
                        <input type="text" class="textfield" maxlength="40" v-model="name" required name="cname" spellcheck="false" placeholder="name" id="cname">
                    </div>
                    <div class="campo">
                        <label for="data">Telefono</label><br>
                        <input type="tel" class="textfield" required name="phone" maxlength="20" v-model="phone" placeholder="phone" id="phone">
                    </div>
                    <div class="campo">
                        <label for="data">Note sull'ordine</label><br>
                        <textarea placeholder="notes" spellcheck="false" name="note" v-model="notes" maxlength="1000" id="notetesto" cols="30" required rows="10" ></textarea>
                    </div>
                    <br>
                    <h3>Anteprima Torso:</h3><br>
                    <img :src="fFront" id="FrontPreview" alt=""><img :src="fBack" id="BackPreview" alt="">
                    <div class="campo">
                        <img type="image" @click="showForm = false" v-if="submitStatus != sStats.LOADING" style="cursor: pointer;"  id="cancelbtn" src="/public/imgs/close-thick.svg" alt="">
                        <input type="image" v-if="submitStatus == sStats.WAITING || submitStatus ==sStats.ERROR" id="buybutton" src="/public/imgs/check-bold.svg" alt="">
                    </div>
                    <div class="error" v-if="submitStatus == sStats.ERROR">
                        Si è verificato un errore sconosciuto.
                    </div>
                    <div class="falign" v-if="submitStatus == sStats.LOADING">
                        <div class="loader">
                        </div>
                    </div>
                    <div class="success" v-if="submitStatus == sStats.SUCCESS">
                        Il tuo ordine è stato inoltrato correttamente &#x2705;.
                        <br>
                        Puoi chiudere il form.
                    </div>
                </form>
            </div>
        </div>
        <div id="obscurator" v-if="showForm">
        </div>
            <div class="tool" id="d-slider">
                <input type="range" @input="resizeSticker" ref="dimensionsSlider" id="dimensions" value="100" name="dslider" min="5" max="100">
            </div>
            <div class="tool" id="r-button">
                <img src="/public/imgs/rotate.svg" alt="" @click="switchView" width="80" height="60" id="btnRotate">
            </div>
            <div class="tool" id="o-button">
                  <input type="image" id="openform" @click="showFormAndRender" @mouseover="changeCart" @mouseleave="changeCart" src="/public/imgs/cart-outline.svg" alt="">
            </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="/public/js/new.js"></script>
</html>