<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/material.min.css">
    <link rel="stylesheet" href="/public/css/options.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Amministrazione | Opzioni</title>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs" id="app">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
        <button @click="goback" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
          <i class="material-icons">arrow_back</i>
        </button>
        Opzioni
      </span>
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Cambia username</a>
      <a href="#fixed-tab-2" class="mdl-layout__tab">Cambia password</a>
      <a href="#fixed-tab-3" class="mdl-layout__tab">Email di notifica</a>
    </div>
  </header>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">
        <div class="center">
            <div class="cockform">
                <form v-on:submit.prevent="changeUsername">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input maxlength="40" required class="mdl-textfield__input" v-model="username" type="text" id="username">
                        <label class="mdl-textfield__label" for="username">New Username...</label>
                    </div>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input v-model="password" required class="mdl-textfield__input" type="password">
                        <label class="mdl-textfield__label" for="password">Current Password...</label>
                    </div>
                    <br>
                    <div class="error" v-if="error1">
                        {{ error1 }}
                    </div>
                    <br>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Submit
                    </button>
                </form>
            </div>
        </div>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content">
        <div class="center">
            <div class="cockform">
                <form v-on:submit.prevent="changePassword">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input required class="mdl-textfield__input" v-model="newpassword" minlength="8" maxlength="60" type="password" id="newpass">
                        <label class="mdl-textfield__label" for="username">New Password...</label>
                    </div>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input v-model="password2" required class="mdl-textfield__input" type="password">
                        <label class="mdl-textfield__label" for="password">Current Password...</label>
                    </div>
                    <br>
                    <div class="error" v-if="error2">
                        {{ error2 }}
                    </div>
                    <br>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Submit
                    </button>
                </form>
            </div>
        </div>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">
        <div class="center2">
          <div style="margin-top: 40px;" v-if="emailsPlaceholder">
            {{ emailsPlaceholder }}
          </div>
          <div v-else>
            <ul class="mdl-list">
              <li  v-for="(email, index) in emails" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">email</i>
                {{ email }}
                </span>
                <button @click="deleteEmail(index)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab mdl-button--primary">
                  <i class="material-icons">delete</i>
                </button>
              </li>
            </ul>
          </div>
          <form action="" v-on:submit.prevent="addNewEmail">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input ref="emailInput" class="mdl-textfield__input" type="email" required id="emailInputtino">
              <label class="mdl-textfield__label" for="emailInputtino">New email...</label>
            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab mdl-button--primary">
              <i class="material-icons">add</i>
            </button>
          </form>
        </div>
      </div>
    </section>
  </main>
  <div ref="snackbarContainer" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
</div>
</body>
<script src="/public/js/material.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="/public/js/options.js"></script>
</html>