<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/material.min.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Administration | Registration</title>
</head>
<body>
    <div id="app" class="center">
        <div id="loginform">
            <form v-on:submit.prevent="submitForm">
                <div>Create a new user:</div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input required v-model="username" class="mdl-textfield__input" type="text" id="username">
                    <label class="mdl-textfield__label" for="username">Username...</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input required class="mdl-textfield__input" v-model="password" type="password" id="password">
                    <label class="mdl-textfield__label" for="password">Password...</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input required class="mdl-textfield__input" v-model="password2" type="password" id="passwordVerification">
                    <label class="mdl-textfield__label" for="password">Password Verification...</label>
                </div>
                <br>
                <div class="error" v-if="password != password2">
                    Passwords do not match.
                </div>
                <div class="error" v-if="error">
                    {{ error }}
                </div>
                <br>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Submit
                </button>
            </form>
        </div>
    </div>
</body>
<script src="/public/js/material.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="/public/js/setpasswd.js"></script>
</html>