.mdl-layout__content
{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.spaced
{
    font-size: 14pt;
    padding: 20px;
}

#order
{
    border-radius: 3px;
    box-shadow: 3px 4px 3px 2px rgba(158, 158, 158, 0.377);
}

#torsorder
{
    border-radius: 3px;
    box-shadow: 3px 4px 3px 2px rgba(158, 158, 158, 0.377);
}

.torsoimg
{
    width: 50%;
    height: auto;
}

.cntr
{
    text-align: center;
}