{
   "username": "",
   "password": "",
   "email": [
      "",
      ""
   ],
   "emailapp": "",
   "emailpassapp": "",
   "stmpserver": "",
   "smtpport": "",
   "secretkey": "",
   "port": 5000
}